<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>

    <div class="container mt-3">
        <h1 class="mb-4">⭐️ Top 100 Coins</h1>
        <h6 class="mb-4">Monitor the Top 100 ranked by Market Cap or search for a specific coin</h6>
        <form class="coinsSearchBar mt-5" method="GET" action="/coins">
            <input class="form-control me-2 search-input-coins" type="search" name="q" placeholder="🔍 Search Name, Symbol or Contract-Address...">
            <button class="btn btn-outline-primary search-button-coins" type="submit">Search</button>
        </form>
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th scope="col">Icon</th>
                    <th scope="col">Coin</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">24h</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">Volume</th>
                </tr>
            </thead>
            <tbody>
                <% if (locals.coinlist) { %>
                    <% const coinList = JSON.parse(locals.coinlist) %>
                    <% for(let i = 0; i<coinList.length; i++) {%>
                        <tr>
                            <td><a href="/coinpage/<%=coinList[i].uuid%>"><img src=<%= coinList[i].iconUrl%> alt="icon" style="width: 20px;" ></a></th>
                            <td><a href="/coinpage/<%=coinList[i].uuid%>"><%= coinList[i].symbol %></a></td>
                            <td><a href="/coinpage/<%=coinList[i].uuid%>"><%= coinList[i].name %></a></td>
                            <td><%= coinList[i].price ? Intl.NumberFormat('en-US').format(parseFloat(coinList[i].price).toFixed(2)) + '$' : '—' %></td>
                            <% if(parseFloat(coinList[i].change) < 0) { %>
                                <td class="negative"><%= coinList[i].change ? parseFloat(coinList[i].change) + '%' : '—' %></td>
                            <% } else if(parseFloat(coinList[i].change) > 0) { %>
                                <td class="positive"><%='-' + coinList[i].change ? '+' + parseFloat(coinList[i].change) + '%' : '—' %></td>
                            <% } else { %>
                                <td><%= coinList[i].change ? parseFloat(coinList[i].change) + '%' : '—' %></td>
                            <% } %>
                            <td><%= coinList[i].marketCap ? Intl.NumberFormat('en-US').format(parseFloat(coinList[i].marketCap)) + '$' : '—' %></td>
                            <td><%= coinList[i]['24hVolume'] ? Intl.NumberFormat('en-US').format(parseFloat(coinList[i]['24hVolume'])) : '—' %></td>
                        </tr>
                    <% }; %>
                <% } %>
            </tbody>
        </table>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>        
</body>
</html>