<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>

    <div class="container">
        <form class="coinsSearchBar mt-5" method="GET" action="/coins">
            <input class="form-control me-2 search-input-coins" type="search" name="q" placeholder="🔍 Search for Name or UUID...">
            <button class="btn btn-outline-primary search-button-coins" type="submit">Search</button>
        </form>        
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th scope="col">Icon</th>
                    <th scope="col">Coin</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <% if (locals.coinlist) { %>
                    <% const coinList = JSON.parse(locals.coinlist) %>
                    <% for(let i = 0; i<coinList.length; i++) {%>
                        <tr>
                            <td><a href="/coinpage/<%=coinList[i].uuid%>"><img src=<%= coinList[i].iconUrl%> alt="icon" style="width: 20px;" ></a></th>
                            <td><a href="/coinpage/<%=coinList[i].uuid%>"><%= coinList[i].symbol %></a></td>
                            <td><a href="/coinpage/<%=coinList[i].uuid%>"><%= coinList[i].name %></a></td>
                        </tr>
                    <% }; %>
                <% } %>
            </tbody>
        </table>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>        
</body>
</html>